<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h1>Marijuana Relapse Custom Chart Generator **Beta**</h1>
<h3>Filter Data</h3>
<div id="content">
    <label>Gender</label>
    <select id="gender">
        <option value='-1'>All</option>
        <option value='0'>Male</option>
        <option value='1'>Female</option>
    </select>
    <br>
    <label>Race</label>
    <select id = "race">
        <option value='-1'>All</option>
        <option value='0'>White</option>
        <option value='1'>Non-White</option>
    </select>
    <br>
    <label>Pre-Processing</label>
    <select id = "truncate">
        <option value='1'>Truncate Entire Dataset</option>
        <option value='0'>Only Truncate Test Data</option>
    </select>
    <!-- NEED TO FIND A BETTER WAY TO SELECT LEVEL OF TRAUMA TO FILTER BY -->
    <!-- <select id = "trauma">
        <option value = '1'>Include</option>
        <option value = '-1'>Exclude</option>
    </select> -->
    <br><br>
    <input type="submit" value="Submit" onclick="handle_submit();">
</div>

<script>

function handle_submit() {
    // keep hardcoded dictionary for filtering which options user selected
    var form_data = {}
    var e = document.getElementById("gender");
    var gender = e.options[e.selectedIndex].value;
    if (gender != -1) {
        form_data['female'] = gender;
    }
    e = document.getElementById("race");
    var race = e.options[e.selectedIndex].value;
    if (race != -1) {
        form_data['nonwhite'] = race;
    }
    e = document.getElementById("truncate");
    var truncate = e.options[e.selectedIndex].value;
    form_data['truncate_training_data'] = truncate;
    print("form data:", form_data)
    $.ajax({
        method: 'POST',
        url: '/api/custom_chart',
        data: form_data,
        success: function(x) {
            window.location.pathname = '/api/results'
            return true;
        }
    });
    return false;
}
</script>
